p {
    color: rgb(6, 200, 110);
}

a{
    text-decoration: none;
}

li{
    color:green;
    list-style: none;
}

h1{
    color:blue
}


.varios_p {
    color : green
}


.album_fotos{

    color :red
}